*.class
*.dat
*.png
*.swp
*.txt
*.err
*.log
*.o
*graphs
*benchmark
*test-prng
*module*
*doubly*
*hpfc*
*generic*
*/cxx/*.py
*fortran/*.py
*test-vector
*backup*
*old*
src/algorithms/divide-and-conquer/closest-pair/cxx/traditional-compilation/
src/algorithms/divide-and-conquer/closest-pair/cxx/original-work-all-in-one-source-file/
src/containers/vector/hull/java/Line.java
src/functions/numeric/java/odes/
src/iterators/vector/particles/java/Ensemble.javan
src/iterators/vector/particles/java/hpcf/
src/iterators/vector/particles/java/loglogPlot.py
src/algorithms/divide-and-conquer/closest-pair/cxx/loglogPlotDivideAndConquer1D.py
src/algorithms/divide-and-conquer/closest-pair/fortran/loglogPlot.py
src/algorithms/divide-and-conquer/closest-pair/fortran/loglogPlot_DivideAndConquer1D.py
